
<%- include('../includes/header') %>

<div class="banner">
    <h1 class="titulo-inicio">
        Produção de Vídeo e Muito Mais...
    </h1>
</div>
<img class="img-banner" src="https://ilia.digital/wp-content/uploads/2024/02/shutterstock_1583248045-1536x802.jpg" alt="logo">
<div class="entry">
    <div class="entry1">
        <h1>Como o Conteúdo Certo Impulsiona Seu Negócio</h1>
        <span>Seja nas redes sociais, em blogs ou no próprio site, contar a história da sua marca de maneira autêntica faz toda a diferença. Nós ajudamos a criar conteúdos que refletem a essência do seu negócio e conquistam seu público-alvo.
            <ul>
            <li><i class="fa-solid fa-check"></i> Postagens para redes sociais </li>
            <li><i class="fa-solid fa-check"></i> Gestão de blogs e SEO </li>
            <li><i class="fa-solid fa-check"></i> E-mail marketing e promoções </li>
            <li><i class="fa-solid fa-check"></i> Fotografia e vídeos profissionais </li>
            </ul>
        </span>
    </div>
    <div class="entry2">
        <h1>Destaque-se e Conquiste </br>Mais Clientes</h1>
        <span>
            Nosso objetivo é transformar a presença digital da sua empresa em um verdadeiro imã de clientes. 
            Se você tem um restaurante, café, bar ou qualquer outro pequeno negócio, criamos conteúdos que geram impacto e resultados reais.
            🚀 
        </br>Quer levar seu negócio para o próximo nível? Entre em contato e descubra como podemos ajudar!
        </span>
        <div class="but-div">
            <button value="/preçário" onclick="window.location.href=this.value;">
                Consultar Agora
            </button>
        </div>
        
    </div>
</div>
<div class="separador"></div>
<img class="img-banner2" src="https://www.pngall.com/wp-content/uploads/12/Graph-PNG-Image-File.png" alt="Imagem sem fundo">


<div class="widget-div">
    <div class="widget-text">
        <h1>Quem Somos?</h1>
        <span>
            Somos especialistas em transformar sabores em experiências visuais irresistíveis! 
            Criamos vídeos profissionais que valorizam a identidade do seu restaurante, despertando o apetite do público antes mesmo da primeira garfada.
            <br><br>
            Com uma produção de alta qualidade, captamos cada detalhe – da textura dos pratos ao ambiente acolhedor – para que sua marca brilhe no mundo digital. 
            Seja para redes sociais, cardápios digitais ou campanhas promocionais, nossos vídeos são feitos para encantar e atrair clientes.
        </span>
    </div>

    <div class="widget-text2">
        <h1>Por que nos escolher?</h1>
        <span>
            Nosso compromisso é com a excelência! Utilizamos tecnologia de ponta, criatividade e um olhar refinado para entregar vídeos impactantes que geram resultados.
            <br><br>
            Se você deseja destacar seu restaurante de forma profissional e autêntica, conte conosco para transformar sua visão em realidade!
        </span>
    </div>
</div>


<div class="entry">
    
    <div class="entry2">
        <h1>A Nossa Equipa: O Coração da Nossa Empresa</h1>
        <span>
            
    <p>Na <strong>MadDevWorks</strong>, acreditamos que uma equipe forte e unida é a chave para o nosso sucesso. Nossa equipa é composta por profissionais dedicados, apaixonados pelo que fazem e comprometidos em oferecer o melhor serviço possível aos nossos clientes. Cada membro da nossa equipa traz consigo uma experiência única, habilidades especializadas e uma paixão contagiante pela excelência.</p>
        </span>
        <div class="but-div">
            <button value="/preçário" onclick="window.location.href=this.value;">
                Consultar Agora
            </button>
        </div>
        
    </div>
    <div class="entry1">
        <img class="img-banner3" src="https://cdn.pixabay.com/video/2021/09/05/87593-602317653_tiny.jpg" alt="Imagem sem fundo">
    </div>
</div>
<%- include('../includes/footer') %>
