
<%- include('../includes/header') %>

<div class="banner">
    <h1 class="titulo-inicio">
        Produção de Vídeo e Muito Mais...
    </h1>
</div>
<div class="widget-div">
    <div class="widget-text">
        <h1>Quem Somos?</h1>
        <span>
            Somos especialistas em transformar sabores em experiências visuais irresistíveis! 
            Criamos vídeos profissionais que valorizam a identidade do seu restaurante, despertando o apetite do público antes mesmo da primeira garfada.
            <br><br>
            Com uma produção de alta qualidade, captamos cada detalhe – da textura dos pratos ao ambiente acolhedor – para que sua marca brilhe no mundo digital. 
            Seja para redes sociais, cardápios digitais ou campanhas promocionais, nossos vídeos são feitos para encantar e atrair clientes.
        </span>
    </div>

    <div class="widget-text2">
        <h1>Por que nos escolher?</h1>
        <span>
            Nosso compromisso é com a excelência! Utilizamos tecnologia de ponta, criatividade e um olhar refinado para entregar vídeos impactantes que geram resultados.
            <br><br>
            Se você deseja destacar seu restaurante de forma profissional e autêntica, conte conosco para transformar sua visão em realidade!
        </span>
    </div>
</div>

<%- include('../includes/footer') %>
